.commBtn{
  all: unset;
  cursor: pointer;
  background-color:#fff;
  border-radius: 11px;
  color: $tertiary;
  max-width: 238px;
  width: 100%;
  text-align: center;
  font-size: calc(1rem + 1vw);
}


.communityWrapper{
  height: 100%;
  padding-bottom: 20px;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
    background: transparent;
    opacity: 0;
  }
  .communityItems{
    position: relative;
    .cta{
      position: absolute;
      bottom: 2rem;
      left: 1rem;
      h1{
        color: #fff;
        font-size: calc(1rem + 3rem);
      }
    }
  }
  .swiper-pagination{
    bottom: 20px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    .swiper-pagination-bullet{
      width: 50%;
      margin: 0 !important;
      border-radius: 2px !important;

    }
  }
  .swiper-pagination-bullet-active{
    background: $primary !important;
  }
}

.valueInfoContainer{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 85.9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .valueWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      font-size: calc(1rem + 3vw);
      color: $tertiary;
    }
    .valueGrid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      .value{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        justify-content: center;
        .icon{
          font-size: 7rem;
        }
        h4{
          font-size: calc(1rem + 1.5vw);
          color: $tertiary;
          
        }
        p{
          font-size: calc(1rem + 0.5vw);
          color: $tertiary;
        }
      }
    }
  }
}
