footer{
  position: relative;
  left: 0;
  bottom: 0;
  background-size: contain;
  background-position: center center;
  height: 40vh;
  background-color: $primary;
  .footerWrapper{
    .footerDescription{
      .footerTitle{
        padding: 3rem 0 0 6rem;
        h1{
          color: $tertiary !important;
          margin: 0 !important;
        }
        h3{
          color: $tertiary !important;
          margin: 0 !important;
        }
      }
      .footerInfos{
        height: 56%;
        padding-top: 4.5rem !important;
        h1{
          letter-spacing: -3px;
          color: $tertiary;
        }
        ul{
          padding: 0;
          list-style: none;
        }
        .footerLinks{
          text-decoration: none;
          color: black;
        }
      }
    }
    .footerSocial{
      // display: flex;
      // column-gap: 2rem;
      // width: 96%;
      .social{
        a{
          color: $tertiary;
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 1399.98px){
  // additional default
  .w-xl-100{ width: 100% !important;}

  ul{
    margin: 0 !important;
  }
  h1{
    font-size: 2rem;
  }
  .display-1{
    font-size: 4rem
  }
  .display-6{
    font-size: 1.5rem
  }
  .display-4{
    font-size: 2.5rem
  }
  footer{
    .footerWrapper{
      .footerDescription{
        .footerTitle{
          padding: 0 0 0 6rem;
        }
        .footerInfos{
          height: 56%;
          padding-top: 1rem !important;
        }
      }
    }
  }
}