body {
    overflow-x: hidden;
}


//Additional default
h1, h2, h3, h4, h5{
  margin: 0 !important;
  padding: 0 !important;
}
.w-30{width: 30% !important;}
.w-96{
  width: 96% !important;
}

.section-landing, .section-shop{
  max-width: 1512px;
  margin-inline: auto ;
}

.navbar-nav-container{
  display: flex;
  flex: content;
  column-gap: 1rem;
  align-items: center;
  .fa-bag-shopping, .fa-envelope, .fa-user{
    color: $tertiary;
    font-size: 25px;
  }
  .navbar-nav{
    .nav-item{
      margin: 0 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar{
    position: absolute !important;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 5;
  }
  .navbar-nav{
    row-gap: 2rem;
    padding-top: 1rem;
    text-align: center;
    flex-direction: row !important;
    .nav-item{
      width: 53%;
    }
  }
}

.search {
    .input-span{
      max-width: 60vh;
      width: 100%;
      input {
        max-width: 60vh;
        width: 100%;
        height: 38px;
        text-indent: 25px;
        background: transparent !important;
        :focus{
            box-shadow: none !important;
            border: 2px solid blue;
          } 
        }
    }
    .searchBtn{
      .fa-search{
        color: $tertiary;
      }
    }
}

.carouselLinks{
  transform: translateX(50%);
  .nav-link{
    font-family: NATS;
    color: white !important;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
  }
}
@media (max-width: 768px) {
  .carouselLinks{
    top: 4rem;
  }
}

.carousel-item{
  .carousel-caption{
    p{
      font-family: NATS;
      padding-block: 3rem !important;
      letter-spacing: 2px;
      line-height: 80%;
      text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
    }
    .carouselBtn{
      all: unset;
      cursor: pointer;
      max-width: 35.4vw;
      width: 100%;
      background: transparent;
      border: 1px solid white;
      border-radius: 11px;
      font-size: 2rem;
      font-family: NATS;
      transition: all 0.3s ease;
      margin-bottom: 3rem !important;
      &:hover{
        border-color: $primary;
        background: $primary;
      }
    }
  }
}

.carousel-image {
    height: 92.3vh;
}

.signup-container{
    position: absolute;
    right: 10px;
    top: 15px;

}
.cc-container{
    width: 22%!important;
}


.v-container {
background-color: #fff!important;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
padding: 20px; /* Add padding */
border-radius: 15px;
width: 40vw;
height: 32vh;
position: absolute;
right: 5%;
top: 5%;
}

.navBtn{
  border-radius: 11px;
  background: $tertiary !important;
  text-align: center;
  color: white !important;
  padding: 7px 47px !important;
}