body {
    overflow-x: hidden;
}

.navbar-brand {
    width: 10%;
    .buudl-logo {
        width: 100%;
    }
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    .fa-search {
        position: absolute;
        top: 12px;
        left: 16px;
    }
    input {
        width: 100vh;
        height: 38px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
        :focus{
            box-shadow: none;
            border: 2px solid blue;
        }
    }
}

.carouselLinks{
  position: absolute;
  z-index: 1;
  right: 50%;
  transform: translateX(48%);
  .nav-link{
    font-family: NATS;
    color: white !important;
    font-size: clamp(1rem, 2vw, 2.5rem);
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
  }
}

.carousel-item{
  .carousel-caption{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 4.375rem;
    h5{
      font-size: clamp(2rem, 6.4vw, 8rem);
      padding: 0;
      margin: 0;
    }
    p{
      margin: 0;
      padding: 0;
      font-family: NATS;
      max-width: 1227px;
      min-width: 730px;
      font-size: clamp(1rem, 2vw, 2rem);
      letter-spacing: 2px;
      line-height: 80%;
      text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
    }
    .carouselBtn{
      all: unset;
      cursor: pointer;
      max-width: 35.4vw;
      width: 100%;
      background: transparent;
      border: 1px solid white;
      border-radius: 11px;
      font-size: 2rem;
      font-family: NATS;
      transition: all 0.3s ease;
      &:hover{
        border-color: $primary;
        background: $primary;
      }
    }
  }
}

.carousel-image {
    height: 92.3vh;
}

.signup-container{
    position: absolute;
    right: 10px;
    top: 15px;

}
.cc-container{
    width: 22%!important;
}


        .v-container {
        background-color: #fff!important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
        padding: 20px; /* Add padding */
        border-radius: 15px;
        width: 40vw;
        height: 32vh;
        position: absolute;
        right: 5%;
        top: 5%;
        }
