

.photo-upload-wrapper{
  .photo-upload-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    .photo-upload{
      max-width: 203px; 
      width:100%; 
      height:auto; 
      background-color: transparent;
      .photo-upload-label{
        cursor: pointer;
      }
    }
  }
}

.product-info-wrapper{
  .product-name-container{
    .product-input{
      input{
        max-width: 650px;
        width: 100%;
        padding: 0.75rem 0;
        border-radius: 13px;
        font-size: 1.25rem;
        text-indent: 25px;
        border: 1px solid $tertiary;
      }
      .text-limit{
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
  .product-description-wrapper{
    .product-description-input{
      textarea{
        max-width: 650px;
        min-height: 253px;
        width: 100%;
        height: 100%;
        resize: none;
        font-size: 1.5rem;
        border-radius:13px ;
        border-color: $tertiary;
      }
      .text-limit{
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}



.price-container  {
  .price-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .price-input-container{
      .price-label{
        .price-icon{
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        input{
          width: 100%;
          padding: 0.75rem 0;
          border-radius: 13px;
          border: 1px solid $tertiary;
          text-indent: 25px;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button{
            -webkit-appearance: none;
          }
        }
      }
    }
  }
  .accept-offer-container{
    .accept-offer-info{
      width: 85%;
      p{
        letter-spacing: -1px;
        line-height: 18px;
        font-size: 18px;
      }
    }
  }
}

.tags-container{
  input{
    border-radius: 13px;
    border: $primary-border;
    padding: 0.75rem 0;
    text-indent: 25px;
  }
  label{
    .limit-text{
      bottom: 10px; 
      right: 10px;
    }
  }
}

.about-item-container, .listing-container{
  select.form-select{
    border: $primary-border;
    padding: 0.75rem 0.35rem;
    border-radius: 13px;
    font-weight: 500;
    font-size: 18px;
  }
}

.measurement-container{
  .measurement-unit{
    display: flex;
    border-radius: 7px;
    border: 1px solid #F86F03;
    overflow: hidden;
    max-width: 230.12px;
    .unit-wrapper{
      overflow: hidden;
      position: relative;
      width: 100%;
      padding: 0.325rem 0.25rem;
      label{
        position: absolute;
        inset: 0;
        display: block;
        cursor: pointer;
      }
      input{
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
      input:checked + label{
        background-color:#F86F03;
        border-radius: 0px !important;
        color: #fff;
      }
    }
  }
}

.clothe-unit-container{
  .clothe-unit-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    .clothe-container{
      max-width: 381px;
      width: 90%;
      padding: 0.75rem 0.45rem;
      border: 1px solid black;
      border-radius: 13px;
      display: flex;
      justify-content: space-between;
      label{
        input{
          max-width: 135px;
          height: 34px;
        }
      }
    }
  }
}

.size-container{
  .shipping-size-style{
    row-gap: 1rem;
    .shipping-style{
      width: 100%;
      padding: 0.75rem 0.45rem;
      border: 1px solid black;
      border-radius: 13px;
      display: flex;
      justify-content: space-between;
    }
  }
  .dimension-style{
    column-gap: 1rem;
    .dimension-container{
      max-width: 196px;
      width: 100%;
      padding: 0.75rem 0.45rem;
      border: 1px solid black;
      border-radius: 13px;
      column-gap: 1rem;
      label{
        input{
          max-width: 45px;
          height: 34px;
        }
      }
    }
  }
  .fee-style{
    .shipping-style{
      width: 100%;
      padding: 0.75rem 0.45rem;
      border: 1px solid black;
      border-radius: 13px;
      display: flex;
      justify-content: space-between;
    }
  }
}
.cod-container{
  row-gap: 1rem;
  .cod-wrapper{
    width: 100%;
    padding: 0.75rem 0.45rem;
    border: 1px solid black;
    border-radius: 13px;
  }
}


/* toggle design */
.accept-offer-wrapper,
.standard-icon,
.cod-icon {
  width: 51px;
  height: 31px;
  position: relative;
}

.cod-checkbox,
.standard-checkbox,
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.cod-checkbox:checked + .switch,
.standard-checkbox:checked + .switch,
.checkbox:checked + .switch {
  background-color: #34c759;
}

.cod-checkbox:checked + .switch .slider,
.standard-checkbox:checked + .switch .slider,
.checkbox:checked + .switch .slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}






