.onboarding-category {
    border-radius: 5px;
    border: 1px solid $secondary;
    background-color: $secondary;
    color: #fff;
    cursor: pointer;
}

.onboarding-title {
    color: $secondary;
}
