.digit-group{
  display: flex;
	align-items: center;
	justify-content: space-evenly;
  input[type="number"]{
    width: 1.4em;
    line-height: 1;
    margin: .1em;
    padding: inherit;
    font-size: 2.65em;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 2px solid black;
    color: #073A39;
    border-radius: 6px;
  }
  input::-webkit-outer-spin-button, .digit-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"]:nth-child(n+4) {
    order: 2;
  }
  div::before {
    content: '';
    height: 4px;
    width: 12px;
    margin: 0 .25em;
    order: 1;
    background: #fff;
    border-radius: 2px;
    opacity: .4;
  }
}
.otp-input {
  width: 1.5em;
  height: 100%;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #fff;
  font-size: 2.65em;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
   border: 2px solid black;
}
#resendButton, #emailSendButton{
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  text-align: right;
}