.spotBtn{
  all: unset;
  cursor: pointer;
  max-width: 400px;
  border-radius: 11px;
  border: 3px solid #F86F03;
  background: transparent;
  color: #701D00;
  font-weight: 900;
  width: 90%;
  text-align: center;
  padding-block: 0.55rem;
  font-size: calc(1rem + 0.5vw);
}



.swiper-wrapper{
  .content{
    position: absolute;
    bottom: -2px;
    height: 70px;
    left: 34%;
  }
  .spotLightShop{
    max-width: 546px;
    width: 100%;
  }
}

.sellingContainer{
  display: grid;
  grid-template-columns:1fr 1fr;
  column-gap: 2rem;
  .right{
    .right-container{
      column-gap: 1rem;
      h1{
        font-size: calc(1rem + 4vw);
        color: $tertiary;
        letter-spacing: -4px;
      }
      p{
        font-family: $font-family-nats;
        font-size: calc(1rem + 0.5vw);
        color: #701D00;
        line-height: 1;
        width: 80%;
        
      }
    }
  }
}

.sellingInfoContainer{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 85.9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .descriptionWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 2rem;
    h1{
      font-size: calc(1rem + 3vw);
      color:$tertiary ;
      letter-spacing: -4px;
        font-weight: 900;
    }
    p{
      font-size: calc(1rem + 0.5vw);
      max-width: 70vw;
      text-align: center;
      font-weight: 700;
      color: $tertiary;
    }
    .ctaSell{
      text-decoration: none;
      width: 100%;
      max-width: 363px;
      text-align: center;
      .info{
        font-size: calc(1rem + 1vw);
        color: $tertiary;
        font-weight: 900;
        letter-spacing: -1px;
      }
      .ctaIcon{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .arrowLine{
          height: 1px;
          width: 100%;
          display: inline-block;
          background-color: red;
        }
        .fa-angle-right{
          position: absolute;
          right: -2px;
          bottom: -6.4px;
        }
      }
    }
  }
  .starIcon{
    position: absolute;
    top: 0;
    left: 123px;
  }
  .buudlIcon{
    position: absolute;
    bottom: 0;
    right: 123px;
  }
}

@media (width < 1281px) {
  .sellingInfoContainer{
    .starIcon{
      left: 33px;
    }
    .buudlIcon{
      right: 29px;
    }
  }

}

.priceInfoContainer{
  display: grid;
  grid-template-columns:1fr 1fr;
  .left{
    h1{
      font-size: calc(1rem + 3vw);
      font-weight: 900;
      color: $tertiary;
      letter-spacing: -3px;
    }
    p{
      font-size: calc(1rem + 0.5vw);
      font-weight: 700;
      color: #701D00;
      line-height: 1;
    }
  }
  .right{
    .flowerIcon{
      position: absolute;
      bottom: -42px;
      left: -96px;
    }
  }
}

