.topSearchItem{
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .searchImg{
    .image{
      display: block; 
      width:200px; 
      height:200px; 
      border-radius:50%; 
      background-color:beige;
    }
  }
  .itemContent{
    h3{
      text-align: center;
    }
  }
}
.feature{
  .featureImg{
    img{
      height: 50vh;
      width: 100vw;
    }
    .featureContent{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 20px;
      .bigHeader{
        font-size: 3rem;
        color: $primary;
        font-weight: bolder;
        text-shadow: -1px 4px 2px rgba(0,0,0,0.4);
      }
      .thriftBtn{
        all: unset;
        background: white;
        width: 117px;
        text-align: center;
        font-size: 17px;
        padding-block: 4px;
        border-radius: 12px;
        color: $primary;
      }
    }
  }
}