// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-nats:'Nats';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Prime Colors
$primary: #F86F03;
$secondary: #310D00;
$tertiary: #701D00;


//Style
$primary-border: 1px solid $tertiary;